@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-areas: "info img";
  grid-template-columns: 1fr 1fr;
}

.info-area {
  grid-area: info;
  background-color: #121214;
}
.img-area {
  grid-area: img;
  background-image: url("../images/read_news.jpg");
  background-position: right;
  background-size: cover;
}

.logo img {
  height: 94px;
  width: 389px;
  padding: 40px 30px;
}

.desc {
  padding: 30px;
}
h1 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #08c05e;
  margin-bottom: 10px;
}
h2 {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin-bottom: 10px;
}
.desc span {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.form span {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 138.73%;
  color: #a8a8a8;
  margin-left: 30px;
  position: absolute;
  width: 133px;
  height: 19px;
  top: 360px;
}
form input {
  margin-left: 30px;
  position: absolute;
  width: 798px;
  height: 48px;
  top: 390px;
  filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
  border: none;
  outline: none;
  border-left: 5px solid #04d361;
}
form input::placeholder {
  padding-left: 8px;
}
form button {
  position: absolute;
  width: 48px;
  height: 50px;
  left: 789px;
  top: 390px;
  border: none;
  background-color: #8257e5;
  outline: none;
  cursor: pointer;
}

.more a {
  display: flex;
  margin-left: 30px;
  position: absolute;
  width: 196px;
  height: 24px;
  top: 490px;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 138.73%;
  color: #8257e5;
  text-decoration: none;
}
.more img {
  margin-left: 5px;
}

@media (min-width: 553px) and (max-width: 1023px) {
  form input {
    width: 498px;
    height: 40px;
  }
  form button {
    width: 48px;
    height: 43px;
    left: 490px;
  }
}

@media (max-width: 552px) {
  .container {
    display: flex;
  }
  .img-area {
    background-image: none;
  }
  .logo img {
    padding: 25px;
    height: 70px;
    width: 200px;
    padding: 40px 30px;
  }
  .desc {
    padding: 25px;
  }
  h1 {
    font-size: 18px;
  }
  h2 {
    font-size: 12px;
  }
  .desc span {
    font-size: 10px;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-left: -7px;
  }
  .form span {
    position: unset;
  }
  form {
    display: flex;
    align-items: center;
  }
  form input {
    position: unset;
    width: 200px;
    height: 25px;
  }
  form button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
  }
  form button img {
    height: 20px;
  }
  .more {
    margin-left: -7px;
    font-size: 16px;
  }
}

@media (min-height: 360px) and (max-height: 415px) {
  .container {
    grid-template-columns: 60% 40%;
  }
  .logo img {
    padding: 25px;
    height: 50px;
    width: 200px;
    padding: 30px 0px 5px 25px;
  }
  .desc {
    padding: 25px;
  }
  h1 {
    font-size: 17px;
  }
  h2 {
    font-size: 11px;
  }
  .desc span {
    font-size: 9px;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-left: -7px;
    margin-top: 5px;
  }
  .form span {
    position: unset;
    font-size: 13px;
  }
  form {
    display: flex;
    align-items: center;
  }
  form input {
    position: unset;
    width: 200px;
    height: 25px;
  }
  form input::placeholder {
    font-size: 12px;
  }
  form button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    width: 35px;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
  }
  form button img {
    height: 20px;
  }
  .more a {
    position: unset;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 25px;
  }
}

@media (min-height: 280px) and (max-height: 359px) {
  .container {
    grid-template-columns: 70% 30%;
  }
  .logo img {
    padding: 25px;
    height: 40px;
    width: 200px;
    padding: 20px 0px 0px 5px;
  }
  .desc {
    padding: 20px 20px 5px 20px;
  }
  h1 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 11px;
    margin-bottom: 5px;
  }
  .desc span {
    font-size: 9px;
  }
  .form {
    display: flex;
    flex-direction: column;
    margin-left: -8px;
  }
  .form span {
    position: unset;
    font-size: 12px;
  }
  form {
    display: flex;
    align-items: center;
  }
  form input {
    position: unset;
    width: 200px;
    height: 23px;
  }
  form input::placeholder {
    font-size: 12px;
  }
  form button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: unset;
    width: 35px;
    height: 28px;
    border-radius: 5px;
    margin-left: 5px;
  }
  form button img {
    height: 20px;
  }
  .more a {
    position: unset;
    margin-left: 25px;
    font-size: 13px;
    margin-top: 10px;
  }
}
